@import '../../../Layouts/styles.scss';

.navLink {
  display: block;
  cursor: pointer;
  // text-align: right;
  float: right;
  position: relative;
  z-index: 1;
  color: $fontColorLightened;
  @include transition;
  &:after {
    content: '';
    position: absolute;
    top: $buffer;
    display: block;
    background-color: $fontColor;
    // background-image: url('https://s3.us-east-2.amazonaws.com/lu-assets/navy.svg');
    @include transition;
    background-size: 100% 100%;
    height: 2px;
    width: 0%;
    @media only screen and (max-width: 640px) {
      position: relative;
      top: 0;
      display: none;
    }
  }
  &:hover::after {
    width: 100%;
    @include transition;
  }
  &:hover {
    color: $fontColor;
    @include transition;
  }
}

.home-page {
  .navLink {
  }
}
.agency-page {
  .navLink {
  }
}
