@import '../../Layouts/styles.scss';

.research {
  color: $fontColor;
  h1 {
    @include transition;
    @media only screen and (max-width: 640px) {
        font-size: $fontSize !important;
        line-height: $lineHeight !important;
    }
  }
  p {
    color: $fontColorLightened;
  }
}
