@import '../../Layouts/styles.scss';

.research {
  color: $fontColor;
  h1 {
    @include transition;
    &:hover {
      cursor: pointer;
      color: $fontColorLightened;
      @include transition;
    }
  }
  p {
    color: $fontColorLightened;
  }
}
