@import '../../../Layouts/styles.scss';

.hero {
  padding: $buffer*2;
  height: 80vh;
  min-height: 600px;
  background-size: cover;
  background-position: center;
  color: $fontColor;

  @media only screen and (max-width: 640px) {
    padding: $buffer;
    height: 60vh;
    min-height: 200px;
  }
  &.hero-index {
    height: 95vh;
    margin-top: -$navHeight;
    padding-top: $navHeight;
    background-color: $accentColor;
    // background-color: linear-gradient($accentColor, #FEC62E);
    // background: linear-gradient(#FFD667  10%, 50%,$accentColor 80%);
    .headline {
      font-size: $fontSizeHeadline*1.55;
      line-height: $lineHeightHeadline*1.5;
      color: $fontColorLight;
      font-weight: $fontWeightHeavy;
      font-family: $fontFamilySecondary;
    }
    .subhead {
      color: $fontColorLight;
      font-size: $fontSizeSubHeadline;
    }
  }
  &.hero-workWith {
    // height: 3vh !important;
    // min-height: 400px;
    .headline {
      margin: 0;
      margin-bottom: $buffer;
    }
  }

  &.hero-workPage {
    // height: 3vh !important;
    // min-height: 400px;
    .headline {
      margin: 0;
      margin-bottom: $buffer;
    }
  }

  &.project-hero {
    margin-top: -$navHeight;
    padding-top: $navHeight;
  }

  &.hero-betterfin {
    background-color: #DBE3E0;
    .hero-image {
      max-width: 250px;
    }
  }
  &.hero-myxfitness {
    background-color: #f1f5f4;
  }
  &.hero-instructrr {
    background-color: #FFBB65;
  }
  &.hero-strive {
    background-color: #f0f2ff;
  }
  &.hero-dv01 {
    background-color: #fafafa;
  }
  &.hero-agency {
    height: 80vh;
    .hero-image {
      max-width: 100vw;
      margin-top: -$navHeight;
      z-index: -100;
    }
    @media only screen and (max-width: 640px) {
      h1.headline {
        font-size: $fontSize !important;
        line-height: $lineHeight !important;
      }
    }
  &.hero-h1 {
    background-color: #060464;
  }
}
}

.hero-image {
  max-width: 600px;
}

.emphasis {
  border-bottom: 3px solid $primaryColor;
  font-weight: $fontWeightHeavy;
}
