@import '../../../Layouts/styles.scss';

.hero {
  padding: $buffer*3;
  height: 90vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  margin-top: -$navHeight;
  padding-top: $navHeight;

  &.hero-betterfin {
    background-image: url('https://s3.us-east-2.amazonaws.com/lu-assets/bg-betterfin.png');
  }
  &.hero-myxfitness {
    background-image: url('https://s3.us-east-2.amazonaws.com/lu-assets/bg-myxfitness.png');
  }
  &.hero-instructrr {
    background-image: url('https://s3.us-east-2.amazonaws.com/lu-assets/bg-instructrr.png');
  }
}
