@import '../../../Layouts/styles.scss';

.hero {
  padding: $buffer*3;
  height: 80vh;
  min-height: 600px;
  background-size: cover;
  background-position: center;
  color: $fontColor;
  border-bottom: $border;

  &.project-hero {
    margin-top: -$navHeight;
    padding-top: $navHeight;
  }

  &.hero-betterfin {
    background-color: #DBE3E0;
    .hero-image {
      max-width: 250px;
    }
  }
  &.hero-myxfitness {
    background-color: #f1f5f4;
  }
  &.hero-instructrr {
    background-color: #FFBB65;
  }
  &.hero-strive {
    background-color: #f0f2ff;
  }
  &.hero-dv01 {
    background-color: #fafafa;
  }
}

.hero-image {
  max-width: 600px;
}

.emphasis {
  border-bottom: 2px solid $accentColor;
  font-weight: $fontWeightHeavy;
}
