@import '../../Layouts/styles.scss';

.project {
  border: 1px solid transparent;
  @include transition;
  // margin: -$buffer;
  // margin-bottom: $buffer*3;
  position: relative;
  padding: $buffer*6 0 0 0;
  pointer-events: none !important;
    &:hover {
      cursor: default;
      pointer-events: none !important;
      color: $fontColor;
  }

  &.preview {
    border-bottom: $border;
    padding: 0;
    pointer-events: auto !important;
    a {
      padding: $buffer*3;
      display: block;
    }
    &:hover {
      cursor: pointer;
      pointer-events: auto !important;
    }
    h1 {
      margin-bottom: 0;
      @include transition;
    }
    h2 {
      margin-bottom: 0;
      @include transition;
    }
    .preview-arrow, .project-title {
      cursor: pointer;
    }
  }
}

.service {
  color: $fontColor;
  @include transition;
  font-size: $fontSize;
  line-height: $lineHeight;
}

p.service {
  margin-bottom: 0;
  color: $fontColorLightened;
}

.preview-arrow-wrapper {
  text-align: right;
}
.preview-arrow {
  padding: $buffer*2;
  padding-right: 0;
  // margin-right: $buffer*2;
  transform: rotate(45deg);
  @include transition;

  &:hover {
    @include transition;
    transform: scale(1.3) rotate(0);
    svg {
      fill: $fontColor;
      @include transition;
    }
  }

  svg {
    fill: $strokeColor;
    @include transition;
  }
}

.project-description {
  margin: $buffer*8 0;
  p {
    font-size: $fontSizeHeadline;
    line-height: $lineHeight*2.25;
  }
}

.next-project-link {
  cursor: pointer;
}

// .project-title {
//   @include transition;
//   &:hover {
//     opacity: .8;
//     @include transition;
//   }
// }

.project-blurb {
  display: none !important;
  margin: $buffer*8 0 $buffer 0;
  // font-weight: $fontWeightHeavy;
}

.product-screenshot {
  // @include shadow();
  margin-bottom: 10vh;
  width: 100%;
}

.project-links {
  padding: 0 !important;
  border-top: $border;
}
