@import '../../Layouts/styles.scss';

.project {
  border: 1px solid transparent;
  @include transition;
  padding: $buffer;
  margin: -$buffer;
  margin-bottom: $buffer*3;
  position: relative;

  &.preview {
    .preview-arrow, .project-title {
      cursor: pointer;
    }
  }
}

.service {
  color: $fontColorLightened;
  @include transition;
}

.preview-arrow-wrapper {
  text-align: right;
}
.preview-arrow {
  padding: $buffer*2;
  margin-right: $buffer*2;
  transform: rotate(45deg);
  @include transition;

  &:hover {
    @include transition;
    transform: scale(1.3) rotate(0);
    svg {
      fill: $fontColor;
      @include transition;
    }
  }

  svg {
    fill: $strokeColor;
    @include transition;
  }
}

.project-description {
  margin: $buffer 0;
}

.next-project-link {
  cursor: pointer;
}

.project-title {
  @include transition;
  &:hover {
    opacity: .8;
    @include transition;
  }
}

.project-blurb {
  margin-bottom: $buffer;
  font-weight: $fontWeightHeavy;
}
