@import '../../Layouts/styles.scss';

.footer {
  border-top: $border;
  .agencyName {
    font-weight: $fontWeightHeavy;
  }
  .agencyInfo {}
  .social {
    text-align: right;
  }
  p {
    margin: 0;
  }
}
