@import '../../Layouts/styles.scss';

.footer {
  // border-top: $border;
  padding: $buffer*3;
  .agencyName {
    font-weight: $fontWeightHeavy;
  }
  .agencyInfo {}
  .social {
    text-align: right;
    a.socialLink {
      display: inline-block;
      cursor: pointer;
      text-align: right;
      position: relative;
      z-index: 1;
      color: $fontColorLightened;
      @include transition;
      &:after {
        content: '';
        position: absolute;
        top: $buffer;
        display: block;
        background-color: $fontColor;
        // background-image: url('https://s3.us-east-2.amazonaws.com/lu-assets/navy.svg');
        @include transition;
        background-size: 100% 100%;
        height: 2px;
        width: 0%;
      }
      &:hover::after {
        width: 100%;
        @include transition;
      }
      &:hover {
        color: $fontColor;
        @include transition;
      }
    }
  }
  p {
    margin: 0;
  }
}

.copyIcon {
  margin-left: $buffer/2;
  cursor: pointer;
  svg {
    fill: $fontColorLightened;
    @include transition;
    position: relative;
    top: -2px;

    &:hover {
      fill: $fontColor;
    }
  }
}

p.copiedText {
  opacity: 1;
  // animation: fadeInLeft 2s ease-in;
  margin-left: $buffer/2;
  font-size: $fontSizeSmall;
  color: $fontColorLightened;
  @include transition();

  &.fadeOut {
    opacity: 0;
    @include transition();
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-3px);
  }
  20% {
    opacity: 1;
    transform: translateX(0);
  }
  80% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(3px);
  }
}
