// CONSTANTS
$bubbleWidth: 30vw;
$bubbleMove: 10px;

$fontFamily: 'Marr Sans Web';
$fontWeightNormal: normal;
$fontWeightHeavy: 500;
// $fontColor: #2e3648;
$fontColor: #555E68;
$fontColorLightened: #adb1bb;
$fontSize: 20px;
$fontSizeHeadline: 40px;
$fontSizeSubHeadline: 30px;
$lineHeight: $fontSize*1.5;
$lineHeightHeadline: $fontSizeHeadline*1.5;

$bgColor: #2e3648;
$bgColorMedium: #F6F5F0;
$bgColorLight: #fff;
$bgColorLightened: #f3f3f3;
$strokeColor: #dbdee6;

$navHeight: 220px;

$buffer: 24px;
$border: 1px solid $strokeColor;
$timing: .15s;
$easing: ease-in-out;

// MIXINS

@mixin transition {
  transition: all $timing $easing;
}

@mixin shadow {
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.06);
}

@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation:    $value;
  -o-animation:      $value;
  animation:         $value;
}


// FONTS

@font-face {
    font-family: 'Marr Sans Web';
    src: url('https://s3.us-east-2.amazonaws.com/lu-assets/fonts/MarrSansWeb-Regular.woff2') format('woff2'),
        url('https://s3.us-east-2.amazonaws.com/lu-assets/fonts/MarrSansWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Marr Sans Web';
    src: url('https://s3.us-east-2.amazonaws.com/lu-assets/fonts/MarrSansWeb-Medium.woff2') format('woff2'),
        url('https://s3.us-east-2.amazonaws.com/lu-assets/fonts/MarrSansWeb-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


// BASE STYLES

body {
  font-family: $fontFamily;
  margin: 0;
  color: $fontColor;
  overflow-x: hidden;
}

.page-content {
  @include animation(fadeInUp $timing*2 $easing);
  @include transition;
  opacity: 1;
  transform: translateY(0);
}

h1,h2,h3,h4,h5,h6 {
  font-weight: $fontWeightNormal;
  margin: 0 0 $buffer 0;
}

h1 {
  font-size: $fontSizeHeadline;
  line-height: $lineHeightHeadline;
}

h2 {
  font-size: $fontSizeSubHeadline;
}

p {
  font-size: $fontSize;
  color: $fontColor;
  line-height: $lineHeight;
  margin: 0 0 $buffer 0;

  &.secondary {
    color: $fontColorLightened;
  }
}

a {
  text-decoration: none;
  color: $fontColor;
  @include transition;
  &:hover {
    opacity: 0.8;
    @include transition;
  }
  &.disable {
    pointer-events: none;
  }
}

.container {
  padding: $buffer*3;
  margin-top: $buffer*2;
}

.fade-out {
  @include transition;
  opacity: 0;
  transform: translateY(10px);
}
.team {
  .teamMembers p {
    color: $fontColorLightened;
  }
  .teamPhotos {
    text-align: right;
    img {
      position: absolute;
      right: $buffer*3;
      width: 300px; height: 400px;
      background: grey;
    }
    img.activeImage {
      display: block;
    }
    .adrian {
      transform: rotate(2deg);
      display: none;
    }
    .zach {
      transform: rotate(-2deg);
      display: none;
    }
    .taylor {
      transform: rotate(-1deg);
      display: none;
    }
  }
}

.home-hero-bg {
  position: relative;
  // @include animation(rotate 30s infinite);

  .bubble {
    min-width: 300px;
    width: $bubbleWidth;
    position: absolute;
    z-index: -1;
  }
  .navy-bubble {
    top: -35%;
    right: 5%;
    @include animation(bubbleMotion1 20s infinite);
    @include transition;
    animation-delay: 2s;
  }
  .yellow-bubble {
    top: -20%;
    left: 15%;
    @include animation(bubbleMotion2 20s infinite);
    @include transition;
    animation-delay: 6s;
  }
  .oatmeal-bubble {
    bottom: -5%;
    left: -10%;
    @include animation(bubbleMotion3 20s infinite);
    @include transition;
    animation-delay: 3s;
  }
  .green-bubble {
    bottom: 15%;
    right: -5%;
    z-index: 1;
    @include animation(bubbleMotion4 20s infinite);
    @include transition;
  }
  .research-bubble {
    @include animation(researchMotion 100s infinite);
    right: 100px;
    top: 100px;
    @include transition;
  }
}

// KEYFRAMES

@-webkit-keyframes fadeInUp {
  0%   { opacity: 0; transform: translate(0,10px); }
  100% { opacity: 1; transform: translate(0,0); }
}
@-moz-keyframes fadeInUp {
  0%   { opacity: 0; transform: translate(0,10px); }
  100% { opacity: 1; transform: translate(0,0); }
}
@-o-keyframes fadeInUp {
  0%   { opacity: 0; transform: translate(0,10px); }
  100% { opacity: 1; transform: translate(0,0); }
}
@keyframes fadeInUp {
  0%   { opacity: 0; transform: translate(0,10px); }
  100% { opacity: 1; transform: translate(0,0); }
}

@-webkit-keyframes fadeOutDown {
  0%   { opacity: 1; transform: translate(0,0); }
  100% { opacity: 0; transform: translate(0,-10px); }
}
@-moz-keyframes fadeOutDown {
  0%   { opacity: 1; transform: translate(0,0); }
  100% { opacity: 0; transform: translate(0,-10px); }
}
@-o-keyframes fadeOutDown {
  0%   { opacity: 1; transform: translate(0,0); }
  100% { opacity: 0; transform: translate(0,-10px); }
}
@keyframes fadeOutDown {
  0%   { opacity: 1; transform: translate(0,0); }
  100% { opacity: 0; transform: translate(0,-10px); }
}

@keyframes bubbleMotion1 {
  0% { transform: translate(0, 0);}
  50% { transform: translate(-30px, 30px) rotate(10deg);}
  100% { transform: translate(0, 0);}
}

@keyframes bubbleMotion2 {
  0% { transform: translate(0, 0) scale(1);}
  50% { transform: translate(30px, 60px) scale(0.9) skewX(5deg);}
  100% { transform: translate(0, 0) scale(1);}
}

@keyframes bubbleMotion3 {
  0% { transform: translate(0, 0) scale(1); }
  50% { transform: translate(-30px, 30px) rotate(-5deg) scale(.8); }
  100% { transform: translate(0, 0) scale(1); }
}

@keyframes bubbleMotion4 {
  0% { transform: translate(0, 0) scale(1); }
  50% { transform: translate(30px, 30px) rotate(5deg) scale(.9) skewY(10deg); }
  100% { transform: translate(0, 0) scale(1); }
}

@keyframes researchMotion {
  0% { transform: translate(0, 0) scale(1); }
  50% { transform: translate(150px, 30px) rotate(5deg) skewY(10deg) scale(1.2); }
  100% { transform: translate(0, 0) scale(1); }
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  30% { transform: rotate(3deg) skewX(3deg); }
  60% { transform: rotate(-3deg) skewX(-3deg); }
  100% { transform: rotate(0deg); }
}
