// CONSTANTS
$bubbleWidth: 30vw;
$smallBubbleWidth: 15vw;
$bubbleMove: 10px;
$accentColor: #ffde7c;
$primaryColor: #E6834A;
$secondaryColor: #5169D9;
$accentColorLight: #ECECE6;
$accentColorPink: #F6D3EA;

$fontFamily: 'Roboto';
$fontWeightNormal: 300;
$fontWeightHeavy: 500;
$fontFamilySecondary: 'Playfair Display';


// $fontColor: #2e3648;
$fontColor: #555E68;
$fontColorLightened: #adb1bb;
$fontColorLight: #fff;
$fontSize: 20px;
$fontSizeSmall: 14px;
$fontSizeHeadline: 48px;
$fontSizeSubHeadline: 36px;
$lineHeight: $fontSize*1.75;
$lineHeightHeadline: $fontSizeHeadline*1.5;

$bgColor: #2e3648;
$bgColorMedium: #F6F5F0;
$bgColorLight: #fff;
$bgColorLightened: #fafafa;
$strokeColor: #f1f1f1;
$bgColorMediumLight: #f1f1f1;

$navHeight: 220px;

$buffer: 24px;
$border: 1px solid $strokeColor;
$timing: .15s;
$easing: ease-in-out;

// MIXINS

@mixin transition {
  transition: all $timing $easing;
}

@mixin shadow {
  box-shadow: 0px 30px 50px 0px rgba(69, 65, 78, 0.06);
}

@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation:    $value;
  -o-animation:      $value;
  animation:         $value;
}


// FONTS

@import url('https://fonts.googleapis.com/css?family=Playfair+Display%7CRoboto:300,400,700');


// BASE STYLES

body {
  font-family: $fontFamily;
  font-weight: $fontWeightNormal;
  margin: 0;
  color: $fontColor;
  overflow-x: hidden !important;
}

.page-content {
  @include animation(fadeInUp $timing*2 $easing);
  @include transition;
  opacity: 1;
  transform: translateY(0);
}

h1,h2,h3,h4,h5,h6 {
  font-family: $fontFamilySecondary;
  font-weight: $fontWeightNormal;
  margin: 0 0 $buffer 0;
}

h1 {
  font-size: $fontSizeHeadline;
  line-height: $lineHeightHeadline;
}

h2 {
  font-size: $fontSizeSubHeadline;
}

p {
  font-size: $fontSize;
  color: $fontColor;
  line-height: $lineHeight;
  margin: 0 0 $buffer 0;

  &.secondary {
    color: $fontColorLightened;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  @include transition;
  color: $fontColor;
  svg {
    @include transition;
    position: relative;
    top: -1px;
    left: 4px;
  }
  &:hover {
    opacity: 0.8;
    @include transition;
    svg {
      transform: translateX(3px);
      @include transition;
    }
  }
  &.disable {
    pointer-events: none;
  }
}

button {
  padding: $buffer;
  color: $fontColor;
  background: $accentColor;
  @include shadow;
  font-size: $fontSize;
  font-family: $fontFamily;
  cursor: pointer;
  border: none;
  @include transition;

  &:hover {
    background-color: darken($accentColor, 10%);
  }
  &:active {
    background-color: darken($accentColor, 20%);
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

input, textarea {
  border: none;
  border-bottom: 2px solid $strokeColor;
  font-size: $fontSizeSubHeadline;
  padding: $buffer/2 0;
  margin-bottom: $buffer*2;
  font-family: $fontFamily;
  color: $fontColor;
  position: relative;
  @include transition;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: $fontColor;
  }

  &:focus, &:active {
    outline: none;
    @include transition;
    border-bottom: 2px solid $fontColor;
    &:after {
      width: 100%;
    }
  }
}

hr {
  height: 1px;
  color: $strokeColor;
  background-color: $strokeColor;
  border: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}

.container {
  padding: $buffer*2;
  max-width: 1400px;
  margin: 0 auto;
  // margin-top: $buffer*2;
  @media only screen and (max-width: 640px) {
    .containerCard {
      padding: $buffer;
    }
    h1, p, h2{
      font-size: 140% !important;
      line-height: 180% !important;
    }
  }
}

.containerCard {
  background: $bgColorLightened;
  // margin: 0 $buffer*1 !important;
  padding: $buffer*3;
  margin-bottom: 0;
  z-index: 100;
}

.index-page {
  background: $accentColorLight;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: -113px;
    left: 0;
    right: 0;
    height: 209px;
    // background-image: url(https://s3.us-east-2.amazonaws.com/lu-assets/bottom-morpher.svg);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    @include animation(morph 12s infinite);
    z-index: -1;
  }
}

.productProblem {
  background: $accentColorLight;
  padding-bottom: 0;
  padding-top: 0;
  .containerCard {
    background: $bgColorLightened;
    .valueStatementSection {
      margin-bottom: $buffer*6;
      @media only screen and (max-width: 640px) {
        margin-bottom: $buffer*2;
      }
      img {
        width: 70%;
        &.product-graphic, &.process-graphic {
          display: block;
          margin: 0 auto;
        }
      }
      h1 {
        font-family: $fontFamilySecondary;
        font-weight: 100;
      }
      p {
        color: $fontColorLightened;
        line-height: $lineHeight;
      }
      p.emphasisPoint {
        color: $fontColor;
        span {
          border-bottom: 3px solid $accentColor;
        }
      }
    }
  }
}



@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.contactUs {
  // background: $accentColor;
  position: relative;
  padding: $buffer*2;
  display: flex;
  justify-content: center;
  background: $accentColor;
  @include transition;
  @media only screen and (max-width: 640px) {
    h2 {
      text-align: center;
    }
    span {
      display: none;
    }
  }
  &:hover {
    background: darken($accentColor, 3%);
    cursor: pointer;
    @include transition;
    svg {
      transform: translateX(12px);
      transition: all .5s ease-in-out;
      path {
        stroke-dasharray: 260;
        stroke-dashoffset: 0;
        transition: all .5s ease-in-out;
      }
    }
  }
  svg {
    transition: all .5s ease-in-out;
    path {
      stroke-dasharray: 260;
      stroke-dashoffset: 260;
      transition: all .5s ease-in-out;
    }
  }
  h2 {
    font-family: $fontFamilySecondary;
  }

  .containerCard {
    background: $accentColorLight;
    text-align: center;
    cursor: pointer;
    @include transition;
    p {
      display: inline-block;
      margin-bottom: 0;
      .navLink {
        text-align: center;
        float: none;
        &:after {
          margin-top: 10px;
        }
      }
    }
  }
  .section-bubbles {
    position: absolute;
    width: 100vw;
    top: -20vh;
    z-index: -10;
    .bubble {
      min-width: 100px;
      position: absolute;
      width: $smallBubbleWidth;
      &.bubbleOne {
        height: $smallBubbleWidth*0.25;
        left: 2vw;
        top: 55vh;
        @include animation(bubbleMotion3 20s infinite);
        @include transition;
        animation-delay: 1s;
      }
      &.bubbleTwo {
        height: $smallBubbleWidth*1.25;
        left: 20vw;
        top: 55vh;
        @include animation(bubbleMotion4 20s infinite);
        @include transition;
        animation-delay: 3s;
      }
      &.bubbleFour {
        width: $smallBubbleWidth*0.75;
        right: 25vw;
        top: 45vh;
        @include animation(bubbleMotion1 20s infinite);
        @include transition;
        animation-delay: 1s;
      }
    }
  }
}

.aboutUs {
  padding: $buffer*10;
  .aboutUsStatement {
    padding: $buffer;
    justify-content: center;
    text-align: center;

    // color: $fontColorLight;
    h1  {
      font-family: $fontFamilySecondary;
      text-align: center;
    }
    p {
      // color: $fontColorLight;
    }
    .navLink {
      float: left !important;
    }
  }
  .aboutUsOffering {
    text-align: center;
    ul.offeringList {
      padding-left: 0;
      li {
        line-height: $lineHeight;
        font-size: $fontSize;
        color: $fontColorLightened;
        list-style-type: none;
      }
    }
  }
}

.homepage-graphic {
  width: 70%;
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 640px) {
  .container {
    padding: $buffer;
  }
}

.fade-out {
  @include transition;
  opacity: 0;
  transform: translateY(10px);
}
.agencyBlurb {
  padding: $buffer*3;
  @media only screen and (max-width: 640px) {
    padding: $buffer;
    p {
      font-size: $fontSize !important;
      line-height: $lineHeight !important;
    }
  }
}

.researchTopics {
  padding: $buffer*3;
  border-bottom: $border;
  @media only screen and (max-width: 640px) {
    padding: $buffer;
    h1 {
      font-size: $fontSize !important;
      line-height: $lineHeight !important;
    }
  }
}

.team {
  border-bottom: $border;
  padding: $buffer*3;
  @media only screen and (max-width: 640px) {
    padding: $buffer;
  }
  .teamMembers {
    h1 {
    }
    p {
      color: $fontColorLightened;
    }
  }
  .teamPhotos {
    text-align: right;
    img {
      position: absolute;
      right: $buffer*5;
      width: 300px; height: 400px;
      background: grey;
    }
    img.activeImage {
      display: block;
    }
    .adrian {
      transform: rotate(2deg);
      display: none;
    }
    .zach {
      transform: rotate(-4deg);
      display: none;
    }
    .taylor {
      transform: rotate(-1deg);
      display: none;
    }
  }
}

.home-hero-bg {
  position: relative;
  // @include animation(rotate 30s infinite);
  z-index: -1;
  .section-bubbles {
    position: absolute;
    top: -10vh;
    .bubble {
      position: absolute;
      min-width: 100px;
      width: $smallBubbleWidth;
      &.bubbleOne {
        height: $smallBubbleWidth*0.25;
        left:15vw;
        top: 1vh;
        @include animation(bubbleMotion1 20s infinite);
        @include transition;
        animation-delay: 2s;
      }
      &.bubbleTwo {
        width: $smallBubbleWidth*1.5;
        left:55vw;
        @include animation(bubbleMotion2 20s infinite);
        @include transition;
        animation-delay: 5s;
      }
      &.bubbleThree {
        width: $smallBubbleWidth*1.75;
        left: 85vw;
        top: -25vw;
        @include animation(bubbleMotion3 20s infinite);
        @include transition;
        animation-delay: 1s;
      }
      &.bubbleFour {
        width: $smallBubbleWidth*0.75;
        left: 15vw;
        top: -75vh;
        @include animation(bubbleMotion3 20s infinite);
        @include transition;
        animation-delay: 1s;
      }
    }
  }

  .bubble {
    min-width: 300px;
    width: $bubbleWidth;
    position: absolute;
    z-index: -100 !important;
    @media only screen and (max-width: 640px) {
      min-width: auto;
      width: $bubbleWidth*1.25;
      &.yellow-bubble {
        left: -20%;
      }
    }
  }

  &.agency {
    .bubble {
      min-width: 20%;
      width: $bubbleWidth;
    }
    .yellow-bubble {
      top: -20%;
      left: -10%;
    }
    .green-bubble {
      top: 5%;
      right: -15%;
      @include animation(bubblemotion2 20s infinite)
      animation-direction: reverse;
    }
  }
  &.research {
    .bubble {
      min-width: 20%;
      width: $bubbleWidth;
    }
    .navy-bubble {
      top: 20%;
      right: -10%;
    }
    .oatmeal-bubble {
      top: -15%;
      left: -5%;
    }
  }

  .navy-bubble {
    top: -35%;
    right: 5%;
    @include animation(bubbleMotion1 20s infinite);
    @include transition;
    animation-delay: 2s;
  }
  .yellow-bubble {
    top: -20%;
    left: 15%;
    @include animation(bubbleMotion2 20s infinite);
    @include transition;
    animation-delay: 6s;
  }
  .oatmeal-bubble {
    bottom: -5%;
    left: -10%;
    @include animation(bubbleMotion3 20s infinite);
    @include transition;
    animation-delay: 3s;
  }
  .green-bubble {
    bottom: 15%;
    right: -5%;
    z-index: 1;
    @include animation(bubbleMotion4 20s infinite);
    @include transition;
  }
  .research-bubble {
    @include animation(researchMotion 100s infinite);
    right: 100px;
    top: 100px;
    @include transition;
  }
}

.small-team-container {
  margin-bottom: $buffer*5;
  position: relative;
  &:after {
    content: '</>';
    font-size: 350px;
    position: absolute;
    top: calc(50% - 135px);
    left: 0;
    right: 0;
    text-align: center;
    z-index: -1;
    font-weight: bold;
    line-height: 270px;
    color: darken($bgColorLightened, 1%);
  }
}

.skills-container {
  background: $bgColorLightened;
  padding:$buffer*2;
  @media only screen and (max-width: 640px) {
    padding: 0;
  }
}
.skill-description {
  min-height: 105px;
}
.skill {
  color: $fontColorLightened;
  font-style: italic;
  margin-bottom: 0;
}

.cta-container {
  margin-top: $buffer*4;
}

.projectPage {
  .projectAbout {
    .aboutItem {
    }
  }
  .projectContext {
    background: $bgColorLightened;
    .contextItem {
      @media only screen and (max-width: 640px) {
        h2 {
          margin-bottom:0;
        }
      }
      p {
        margin-bottom: 0;
      }
    }
  }
  .projectCallout {
    padding: $buffer*8 0;
    display: flex;
    justify-content: center;
    background: $bgColorMediumLight;
    @media only screen and (max-width: 640px) {
      padding: $buffer*4 $buffer;
    }
    .calloutItem {
      text-align: center;
      h4 {
        color: $fontColorLightened;
        padding-bottom: $buffer*2;
      }
      h2 {
        line-height: $lineHeight*1.5;
      }
    }
    &.calloutTestimonial {
      h2 {
        font-family: $fontFamily;
        padding-bottom: $buffer*2;
      }
    }
  }
  .projectFeatureImage {
    background: $bgColor;
    .featureImageAsset {
      img {
        @include shadow;
      }
    }
    .featureImageDescription {
      h2 {
        // font-family: $fontFamily;
        color: $fontColorLight;
      }
      p {
        color: $fontColorLightened;
      }
    }
  }
  .projectSplitScreen {
    padding: 20px;
    @media only screen and (max-width: 640px) {
      padding: $buffer*2 $buffer;
    }
    .splitScreenItem {
      // height: 40vh;
      // max-height: 50vh;
      // width: 100%;
      padding: $buffer*3;
      @media only screen and (max-width: 640px) {
        padding: 0;
      }
      img {
      }
    }
    .splitScreenLeft {
      // background: $bgColorLight;
    }
    .splitScreenRight {
      // background: $bgColorMedium;
      display: flex;
      justify-content: center;
    }
  }
}

.workWithUs-page {
  .hero-workWith {
    .headline {
    }
  }
  h2 {

  }
  .contactInfo {
  }
  .visitUs {
    background: $bgColorMedium;
    .visitItem {
      margin-bottom: $buffer*3;
      // text-align: center;
      &:last-child {
        margin-bottom: 0;
      }
      p {
        color: $fontColorLightened;
      }
    }
  }
}


.workList {
  .containerCard {
    padding: 0;
    .workProject {
      padding: $buffer*2;
      max-height: 40vh;
      overflow: hidden;
      @media only screen and (max-width: 640px) {
        padding: $buffer;
        max-height: 90vh;
      }
      @include transition;
      p {
        padding-bottom: $buffer*2;
      }
      img {
        @include transition;
      }
      &:hover {
        cursor: pointer;
        @include shadow;
        @include transition;
        z-index: 100;
        img {
          margin-top: -10px;
          @include transition;
        }
      }
      &.workStrive {
        background: #F6F7FF;
      }
      &.workBetterfin {
        background: #DBE3E0;
      }
    }
  }
  .linksToWork {
    @media only screen and (max-width: 640px) {
      padding: $buffer 0;
    }
    .linksDescription {
      padding-top: $buffer*2;
      padding-bottom: 0;
      @media only screen and (max-width: 640px) {
        p{
          margin-bottom: 0;
        }
      }
    }
    .workLink {
      padding-bottom: 0;
      a {
        h2 {
          @media only screen and (max-width: 640px) {
            margin-bottom: 0;
          }
          @include transition;
          &:hover {
            cursor: pointer;
            color: $fontColorLightened;
            @include transition;
          }
        }
      }
    }
  }
}

.nextProject {
  text-align: center;
  padding: $buffer*3;
  a {
    @include transition;
    &:hover {
      cursor: pointer;
      @include transition;
    }
  }
}

// KEYFRAMES

@-webkit-keyframes fadeInUp {
  0%   { opacity: 0; transform: translate(0,10px); }
  100% { opacity: 1; transform: translate(0,0); }
}
@-moz-keyframes fadeInUp {
  0%   { opacity: 0; transform: translate(0,10px); }
  100% { opacity: 1; transform: translate(0,0); }
}
@-o-keyframes fadeInUp {
  0%   { opacity: 0; transform: translate(0,10px); }
  100% { opacity: 1; transform: translate(0,0); }
}
@keyframes fadeInUp {
  0%   { opacity: 0; transform: translate(0,10px); }
  100% { opacity: 1; transform: translate(0,0); }
}

@-webkit-keyframes fadeOutDown {
  0%   { opacity: 1; transform: translate(0,0); }
  100% { opacity: 0; transform: translate(0,-10px); }
}
@-moz-keyframes fadeOutDown {
  0%   { opacity: 1; transform: translate(0,0); }
  100% { opacity: 0; transform: translate(0,-10px); }
}
@-o-keyframes fadeOutDown {
  0%   { opacity: 1; transform: translate(0,0); }
  100% { opacity: 0; transform: translate(0,-10px); }
}
@keyframes fadeOutDown {
  0%   { opacity: 1; transform: translate(0,0); }
  100% { opacity: 0; transform: translate(0,-10px); }
}

@keyframes bubbleMotion1 {
  0% { transform: translate(0, 0);}
  50% { transform: translate(-30px, 30px) rotate(10deg);}
  100% { transform: translate(0, 0);}
}

@keyframes bubbleMotion2 {
  0% { transform: translate(0, 0) scale(1);}
  50% { transform: translate(35px, 40px) scale(0.9) skewX(5deg);}
  100% { transform: translate(0, 0) scale(1);}
}

@keyframes bubbleMotion3 {
  0% { transform: translate(0, 0) scale(1); }
  50% { transform: translate(-30px, 30px) rotate(-5deg) scale(.8); }
  100% { transform: translate(0, 0) scale(1); }
}

@keyframes bubbleMotion4 {
  0% { transform: translate(0, 0) scale(1); }
  50% { transform: translate(30px, 30px) rotate(5deg) scale(.9) skewY(10deg); }
  100% { transform: translate(0, 0) scale(1); }
}

@keyframes researchMotion {
  0% { transform: translate(0, 0) scale(1); }
  50% { transform: translate(150px, 30px) rotate(5deg) skewY(10deg) scale(1.2); }
  100% { transform: translate(0, 0) scale(1); }
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  30% { transform: rotate(3deg) skewX(3deg); }
  60% { transform: rotate(-3deg) skewX(-3deg); }
  100% { transform: rotate(0deg); }
}

@keyframes morph {
  0% { transform: scaleX(1) scaleY(1); }
  50% { transform: scaleX(1.1) scaleY(0.8); }
  100% { transform: scaleX(1) scaleY(1); }
}

::selection {
  background: $accentColorPink; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $accentColorPink; /* Gecko Browsers */
}
