// CONSTANTS

$fontFamily: 'Marr Sans Web';
$fontWeightHeavy: 500;

$buffer: 24px;
$timing: .15s;
$easing: ease-in-out;

// MIXINS

@mixin transition {
  transition: all $timing $easing;
}


// FONTS

@font-face {
    font-family: 'Marr Sans Web';
    src: url('https://s3.us-east-2.amazonaws.com/lu-assets/fonts/MarrSansWeb-Regular.woff2') format('woff2'),
        url('https://s3.us-east-2.amazonaws.com/lu-assets/fonts/MarrSansWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Marr Sans Web';
    src: url('https://s3.us-east-2.amazonaws.com/lu-assets/fonts/MarrSansWeb-Medium.woff2') format('woff2'),
        url('https://s3.us-east-2.amazonaws.com/lu-assets/fonts/MarrSansWeb-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


// BASE STYLES

body {
  font-family: $fontFamily;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: $fontWeightHeavy;
}
