// CONSTANTS

$fontFamily: 'Marr Sans Web';
$fontWeightNormal: normal;
$fontWeightHeavy: 500;
// $fontColor: #2e3648;
$fontColor: #555E68;
$fontColorLightened: #adb1bb;
$fontSize: 20px;
$fontSizeHeadline: 40px;
$fontSizeSubHeadline: 30px;
$lineHeight: $fontSize*1.5;
$lineHeightHeadline: $fontSizeHeadline*1.5;

$bgColor: #2e3648;
$bgColorMedium: #F6F5F0;
$bgColorLight: #fff;
$bgColorLightened: #f3f3f3;
$strokeColor: #dbdee6;

$navHeight: 220px;

$buffer: 24px;
$border: 1px solid $strokeColor;
$timing: .15s;
$easing: ease-in-out;

// MIXINS

@mixin transition {
  transition: all $timing $easing;
}

@mixin shadow {
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.06);
}

@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation:    $value;
  -o-animation:      $value;
  animation:         $value;
}


// FONTS

@font-face {
    font-family: 'Marr Sans Web';
    src: url('https://s3.us-east-2.amazonaws.com/lu-assets/fonts/MarrSansWeb-Regular.woff2') format('woff2'),
        url('https://s3.us-east-2.amazonaws.com/lu-assets/fonts/MarrSansWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Marr Sans Web';
    src: url('https://s3.us-east-2.amazonaws.com/lu-assets/fonts/MarrSansWeb-Medium.woff2') format('woff2'),
        url('https://s3.us-east-2.amazonaws.com/lu-assets/fonts/MarrSansWeb-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


// BASE STYLES

body {
  font-family: $fontFamily;
  margin: 0;
  color: $fontColor;
}

.page-content {
  @include animation(fadeInUp $timing*2 $easing);
  @include transition;
  opacity: 1;
  transform: translateY(0);
}

h1,h2,h3,h4,h5,h6 {
  font-weight: $fontWeightNormal;
  margin: 0 0 $buffer 0;
}

h1 {
  font-size: $fontSizeHeadline;
  line-height: $lineHeightHeadline;
}

h2 {
  font-size: $fontSizeSubHeadline;
}

p {
  font-size: $fontSize;
  color: $fontColor;
  line-height: $lineHeight;
  margin: 0 0 $buffer 0;

  &.secondary {
    color: $fontColorLightened;
  }
}

a {
  text-decoration: none;
  color: $fontColor;
  @include transition;
  &:hover {
    opacity: 0.8;
    @include transition;
  }
}

.container {
  padding: $buffer*3;
}

.fade-out {
  @include transition;
  opacity: 0;
  transform: translateY(10px);
}

.home-hero-bg {
  position: relative;
  .bubble {
    position: absolute;
    z-index: -1;
  }
  .navy-bubble {
    top: -100px;
    right: -100px;
    @include animation(bubbleMotion1 20s infinite);
    animation-delay: 2s;
  }
  .yellow-bubble {
    top: -80px;
    left: 30%;
    width: 600px;
    @include animation(bubbleMotion2 20s infinite);
    animation-delay: 6s;
  }
  .oatmeal-bubble {
    bottom: 80px;
    left: -60px;
    @include animation(bubbleMotion3 20s infinite);
    animation-delay: 3s;
  }
  .green-bubble {
    bottom: -80px;
    right: -150px;
    z-index: 1;
    @include animation(bubbleMotion4 20s infinite);
  }
}

// KEYFRAMES

@-webkit-keyframes fadeInUp {
  0%   { opacity: 0; transform: translate(0,10px); }
  100% { opacity: 1; transform: translate(0,0); }
}
@-moz-keyframes fadeInUp {
  0%   { opacity: 0; transform: translate(0,10px); }
  100% { opacity: 1; transform: translate(0,0); }
}
@-o-keyframes fadeInUp {
  0%   { opacity: 0; transform: translate(0,10px); }
  100% { opacity: 1; transform: translate(0,0); }
}
@keyframes fadeInUp {
  0%   { opacity: 0; transform: translate(0,10px); }
  100% { opacity: 1; transform: translate(0,0); }
}

@-webkit-keyframes fadeOutDown {
  0%   { opacity: 1; transform: translate(0,0); }
  100% { opacity: 0; transform: translate(0,-10px); }
}
@-moz-keyframes fadeOutDown {
  0%   { opacity: 1; transform: translate(0,0); }
  100% { opacity: 0; transform: translate(0,-10px); }
}
@-o-keyframes fadeOutDown {
  0%   { opacity: 1; transform: translate(0,0); }
  100% { opacity: 0; transform: translate(0,-10px); }
}
@keyframes fadeOutDown {
  0%   { opacity: 1; transform: translate(0,0); }
  100% { opacity: 0; transform: translate(0,-10px); }
}

@keyframes bubbleMotion1 {
  0% { transform: translate(0, 0); }
  50% { transform: translate(30px, 40px) rotate(10deg); }
  100% { transform: translate(0, 0); }
}

@keyframes bubbleMotion2 {
  0% { transform: translate(0, 0); }
  50% { transform: translate(20px, 50px) rotate(10deg); }
  100% { transform: translate(0, 0); }
}

@keyframes bubbleMotion3 {
  0% { transform: translate(0, 0); }
  50% { transform: translate(60px, 50px) rotate(10deg); }
  100% { transform: translate(0, 0); }
}

@keyframes bubbleMotion4 {
  0% { transform: translate(0, 0); }
  50% { transform: translate(90px, 10px); }
  100% { transform: translate(0, 0); }
}
