// CONSTANTS

$fontFamily: 'Marr Sans Web';
$fontWeightHeavy: 500;
$fontColor: #2e3648;
$fontColorLight: #fff;
$fontSizeHeadline: 40px;

$bgColor: #252a34;
$bgColorLight: #fff;

$buffer: 24px;
$timing: .15s;
$easing: ease-in-out;

// MIXINS

@mixin transition {
  transition: all $timing $easing;
}

@mixin shadow {
  box-shadow: 0 2px 30px 10px rgba(0, 0, 0, 0.1);
}


// FONTS

@font-face {
    font-family: 'Marr Sans Web';
    src: url('https://s3.us-east-2.amazonaws.com/lu-assets/fonts/MarrSansWeb-Regular.woff2') format('woff2'),
        url('https://s3.us-east-2.amazonaws.com/lu-assets/fonts/MarrSansWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Marr Sans Web';
    src: url('https://s3.us-east-2.amazonaws.com/lu-assets/fonts/MarrSansWeb-Medium.woff2') format('woff2'),
        url('https://s3.us-east-2.amazonaws.com/lu-assets/fonts/MarrSansWeb-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


// BASE STYLES

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: $fontFamily;
  color: $fontColorLight;
  background: $bgColor;
  margin: 0;
}

.site-content {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: -17px;
  padding-right: 17px;
}
@mixin videoSizer($x) {
  height: $x/1.77;
  width: $x;
}

// $videoSize: 80vw;
//
// #bg-video {
//   position: fixed;
//   left: -($videoSize / 3);
//   top: calc(50% + ($videoSize/1.77));
//   overflow: hidden;
//   @include videoSizer($videoSize);
//   @include shadow;
//   z-index: 1;
// }

h1,h2,h3,h4,h5,h6 {
  font-weight: $fontWeightHeavy;
}
