// CONSTANTS

$fontFamily: 'Marr Sans Web';
$fontWeightNormal: normal;
$fontWeightHeavy: 500;
$fontColor: #2e3648;
$fontColorLightened: #adb1bb;
$fontSizeHeadline: 40px;
$lineHeightHeadline: $fontSizeHeadline*1.5;

$bgColor: #2e3648;
$bgColorLight: #fff;
$bgColorLightened: #f3f3f3;
$strokeColor: #dbdee6;

$navHeight: 220px;

$buffer: 24px;
$border: 1px solid $strokeColor;
$timing: .15s;
$easing: ease-in-out;

// MIXINS

@mixin transition {
  transition: all $timing $easing;
}

@mixin shadow {
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.06);
}


// FONTS

@font-face {
    font-family: 'Marr Sans Web';
    src: url('https://s3.us-east-2.amazonaws.com/lu-assets/fonts/MarrSansWeb-Regular.woff2') format('woff2'),
        url('https://s3.us-east-2.amazonaws.com/lu-assets/fonts/MarrSansWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Marr Sans Web';
    src: url('https://s3.us-east-2.amazonaws.com/lu-assets/fonts/MarrSansWeb-Medium.woff2') format('woff2'),
        url('https://s3.us-east-2.amazonaws.com/lu-assets/fonts/MarrSansWeb-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


// BASE STYLES

body {
  font-family: $fontFamily;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: $fontWeightNormal;
}

h1 {
  font-size: $fontSizeHeadline;
  line-height: $lineHeightHeadline;
}

.container {
  padding: $buffer*2;
}
