@import '../../Layouts/styles.scss';

.nav {
  padding: $buffer*2 $buffer*2 0 $buffer*2;
  color: $fontColorLightened;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  @media only screen and (max-width: 640px) {
    padding: $buffer !important;
  }
  .logoWrapper {
    z-index: 20;
    position: relative;
    max-width: 150px;
    display: inline-block;
  }
  .desktopNav {
    display: block;
    @media only screen and (max-width: 640px) {
      display: none;
    }
  }
  .hamburger {
    text-align: right;
    position: absolute;
    z-index: 20;
    top: $buffer;
    right: $buffer;
  }
  .mobileNav {
    display: none;
    background-color: $bgColorLight;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    @media only screen and (max-width: 640px) {
      display: block;
      &.hidden {
        display: none;
      }
    }
  }
  .disable {
    .navLink {
      color: $fontColor !important;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: $buffer;
        // width: 100%;
        // height: 3px;
        background-color: $fontColor;
        // background-image: url('https://s3.us-east-2.amazonaws.com/lu-assets/navy.svg');
        @include transition;
        background-size: 100% 100%;
        height: 2px;
        width: 100%;
      }
    }
  }
  &.light {
    .navLink:after {
      background-color: white;
    }
    * {
      color: #fff;
    }
    .logo {
      g {
        fill: #fff;
      }
    }
  }
  &.nav-agency {
    background: $bgColorMedium;
  }
}
.logoWrapper {
  cursor: pointer;
}
.workWith {
  background: blue;
}
