@import '../../Layouts/styles.scss';

.nav {
  padding: $buffer*3 $buffer*3 0 $buffer*3;
  color: $fontColorLightened;
  a.disable {
    .navLink {
      color: $fontColor !important;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: $buffer;
        // width: 100%;
        // height: 3px;
        background-color: $fontColor;
        // background-image: url('https://s3.us-east-2.amazonaws.com/lu-assets/navy.svg');
        @include transition;
        background-size: 100% 100%;
        height: 2px;
        width: 100%;
      }
    }
  }

  &.light {
    * {
      color: #fff;
    }
    .logo {
      g {
        fill: #fff;
      }
    }
  }
  &.nav-agency {
    background: $bgColorMedium;
  }
}
.logoWrapper {
  cursor: pointer;
}
