@import '../../Layouts/styles.scss';

.nav {
  padding: $buffer*2 $buffer*2 0 $buffer*2;
  color: $fontColorLightened;
  @media only screen and (max-width: 640px) {
    padding: $buffer !important;
  }
  .disable {
    .navLink {
      color: $fontColor !important;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: $buffer;
        // width: 100%;
        // height: 3px;
        background-color: $fontColor;
        // background-image: url('https://s3.us-east-2.amazonaws.com/lu-assets/navy.svg');
        @include transition;
        background-size: 100% 100%;
        height: 2px;
        width: 100%;
      }
    }
  }
  &.light {
    .navLink:after {
      background-color: white;
    }
    * {
      color: #fff;
    }
    .logo {
      g {
        fill: #fff;
      }
    }
  }
  &.nav-agency {
    background: $bgColorMedium;
  }
}
.logoWrapper {
  cursor: pointer;
}
.workWith {
  background: blue;
}
